<!doctype html>
<html>
	<head>
		<title>puppy love</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="static/normalize.css">
		<link rel="stylesheet" href="static/style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="wrapper_upper">
			<h1>Name that puppy</h1>
			<p> Challange your puppy skills in this advanced test. </p>
		</div>
		<div class="wrapper_downer">
			<div class="top_left">
			</div>
			<div class="top_right">
			</div>
			<div class="bottom_left">
			</div>
			<div class="bottom_right">
			</div>
		</div>
	</body>
</html>