html, body, .container {
	height: 100%;
	margin: -33px 0 0 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: 
	-webkit-linear-gradient(top, #F54588 0%, #4f20d3 50%, #F54588 100%) repeat;
    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% { background-position: 0 0;} 
  00% {background-position: -8000px -2000px;}

}

@font-face {
  font-family: 'helsinkiregular';
  src: url('/static/helsinki-webfont.eot');
  src: url('/static/helsinki-webfont.eot?#iefix') format('embedded-opentype'), url('/static/helsinki-webfont.woff') format('woff'), url('/static/helsinki-webfont.ttf') format('truetype'), url('/static/helsinki-webfont.svg#helsinkiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper_upper {
	margin: auto;
	width: 100%;
	height: 50%;
}

.wrapper_downer {
	margin: auto;
	width: 100%;
	height: 50%;
	background-color: white;
	display: table;
}

	.wrapper {
		margin: auto;
		width: 900px;
	}

	h1 {
		text-align: center;
		color: white;
		font-family: 'helsinkiregular';
		padding-top: 110px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 20px;
		margin-bottom: 20px;
		font-size: 80px;
	}

	p {
		text-align: center;
		font-size: 20px;
	}

	form {
		-webkit-appearance:none;
		display:inline-block;
	}

	input {
		-webkit-appearance:none;
	}

	.button {
		text-transform: uppercase;
		letter-spacing: 3px;
		color: black;
		font-weight: 700;
		font-size: 15px;
		border-radius: 300px;
		background-color: white;
		padding: 21px 34px;
		text-decoration: none;
	}

	.answer_button {
		text-transform: uppercase;
		letter-spacing: 3px;
		color: black;
		font-weight: 700;
		font-size: 20px;
		text-decoration: none;
		background-color: white;
		border: none;
	}

	button:hover{
		background-color: #F54588;
	}

	.answer_button_div {
		text-align: center;
		display: block;
		margin: auto;
		width: 400px;
	}

	.button_div {
		display: block;
		cursor: pointer;
		width: 200px;
		margin: auto;
		padding-top: 28px;
	}

	.circular {
		width: 300px;
		height: 300px;
		margin: auto;
		display:block;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
	}

	.box {
		display: inline-block;
  		width: 50%;
  		height: 100%;
  		margin: 0;
	}
@media screen and (max-width: 803px){

	h1 {
		font-size: 70px;
	}

	.answer_button_div {
		width: 200px;

	}

	.circular{
		width: 200px;
		height: 200px;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
	}
}

/* Iphone 4 ------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (-webkit-min-device-pixel-ratio : 2) {
	h1 {
		font-size: 90px;
		padding-left: 10px;
		padding-right: 10px;
	}
	p {
		font-size: 35px;
			}

	.wrapper_upper{
		height: 35%;
	}

	.wrapper_downer{
		height: 65%;
		padding-top: 300px;
	}

	.circular {
		width: 400px;
		height: 400px;
		border-radius: 200px;
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
	}

	.box {
		width: 100%;
		height: 200px;
	}

	.answer_button_div {
		width: 600px;
		border: solid;
		border-radius: 1px;
		border-color: black;
		padding: 50px;
		display: block;
	}

	.answer_button{
		font-size: 36px;
		color: black;
	}

	.bottom_answer {
		margin-top: 80px;
	}

	.button_div {
		width: 600px;
	}

	.button {
		font-size: 32px;
		padding: 40px 120px;
		display: block;
		margin: auto;
		text-align: center;
	}
}


/* Iphone 6 ------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2){

	h1 {
		font-size: 90px;
		padding-left: 10px;
		padding-right: 10px;
	}
	p {
		font-size: 35px;
			}

	.wrapper_upper{
		height: 25%;
	}

	.wrapper_downer{
		height: 75%;
		padding-top: 300px;
	}

	.circular {
		width: 400px;
		height: 400px;
		border-radius: 200px;
		-webkit-border-radius: 200px;
		-moz-border-radius: 200px;
	}

	.box {
		width: 100%;
		height: 200px;
	}

	.answer_button_div {
		width: 600px;
		border: solid;
		border-radius: 1px;
		border-color: black;
		padding: 50px;
		display: block;
	}

	.answer_button{
		font-size: 36px;
		color: black;
	}

	.bottom_answer {
		margin-top: 80px;
	}

	.button_div {
		width: 600px;
	}

	.button {
		font-size: 32px;
		padding: 40px 120px;
		display: block;
		margin: auto;
		text-align: center;
	}
}