html, body, .container {
	height: 100%;
	margin: -33px 0 0 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	color: white;
	background: -webkit-linear-gradient(top, #F54588 0%, #4f20d3 50%, #F54588 100%) repeat;
    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% { background-position: 0 0;} 
  00% {background-position: -8000px -2000px;}

}

@font-face {
  font-family: 'helsinkiregular';
  src: url('/static/helsinki-webfont.eot');
  src: url('/static/helsinki-webfont.eot?#iefix') format('embedded-opentype'), url('/static/helsinki-webfont.woff') format('woff'), url('/static/helsinki-webfont.ttf') format('truetype'), url('/static/helsinki-webfont.svg#helsinkiregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper_upper {
	margin: auto;
	width: 100%;
	height: 400px;
}

.wrapper_downer {
	margin: auto;
	width: 100%;
	height: 400px;
	background-color: white;
	display: table;
}


@media screen and (min-width: 1024px){

	.wrapper {
		margin: auto;
		width: 900px;
	}

	h1 {
		text-align: center;
		color: white;
		font-family: 'helsinkiregular';
		padding-top: 110px;
		margin-bottom: 20px;
		font-size: 80px;
	}

	p {
		text-align: center;
		font-size: 20px;
	}

	.button {
		text-transform: uppercase;
		letter-spacing: 3px;
		color: black;
		font-weight: 700;
		font-size: 15px;
		border-radius: 300px;
		background-color: white;
		padding: 21px 34px;
		text-decoration: none;
	}

	.answer_button {
		text-transform: uppercase;
		letter-spacing: 3px;
		color: black;
		font-weight: 700;
		font-size: 20px;
		text-decoration: none;
	}

	.answer_button_div {
		display: block;
		padding-top: 25%;
		margin: auto;
		width: 300px;
	}

.button_div {
		display: block;
		cursor: pointer;
		width: 200px;
		margin: auto;
		padding-top: 28px;
	}

	.circular {
		width: 300px;
		height: 300px;
		margin: auto;
		display:block;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
	}

	.box {
		display: inline-block;
  		width: 49.7%;
  		height: 100%;
  		margin: 0;
  		cursor: pointer;
  		border-right: solid;
		border-color: black;
	}
}
/*

@media screen and (min-width: 768px){

	.wrapper {
		margin: auto;
		width: 750px;
	}

	p {
		font-size: 20px;
	}
}

@media screen and (min-width: 480px){

	.wrapper {
		margin: auto;
		width: 470px;
	}

	h1 {
		font-size: 100px;
	}

	p {
		font-size: 32px;
	}
}

*/